
header {
    height: 170px !important;
}
#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 3rem;
    border: 2px solid #f5c000;
    border-radius: 2rem;
  }
  
  #question-container {
    margin-bottom: 20px;
  }
  
  #question-image {
    max-width: 100%;
  }
  
  .answer-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5c0006c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* .btn {
    border: 1px solid red;
    padding: 2rem;

  } */

  .startAudio {
    border: 3px solid #f5c000;
    padding: 1rem 2rem; 
    background-color: #f5c0006c;
    border-radius: 1rem;
    
  }
  
  .startAudio:hover {
    background-color:#f5c000;
  }

  .img-quiz {
    object-fit: contain;
  }


  
  
  .answer-button:hover {
    background-color: #f5c000;
  }
  
  .answer-image {
    max-width: 100%;
  }
  
  #score-container {
    text-align: right;
  }
  
  #results-container {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f5c0006c;
    border-radius: 5px;
  }
  
  #results-container p {
    margin: 0;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(19, 168, 179) 50%, rgb(14, 165, 90) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    /* text-align:center; */
    top:50%;
    transform:translate(-50%, -50%);
  }
  
 
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  